.movies-card {
  position: relative;
  transition: transform var(--animation-time) var(--animation-cubic);
  animation: fadeIn var(--animation-time) var(--animation-cubic);
}

.movies-card:hover {
  transform: scale(1.03);
}

.movies-card__link {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 86%;
}

.movies-card__btn {
  position: absolute;
  z-index: 2;
  right: 14px;
  top: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: opacity 0.5s var(--animation-cubic);
  text-align: center;
  border: none;
  line-height: 0.9;
}

@media (hover: hover) and (pointer: fine) {
  .movies-card__btn {
    opacity: 0;
  }

  .movies-card:hover .movies-card__btn {
    cursor: pointer;
    opacity: 1;
  }
}

@media (hover: none), (hover: on-demand) {
  .movies-card__btn {
    opacity: 1;
  }
}

.movies-card:hover .movies-card__btn {
  cursor: pointer;
  opacity: 1;
}

.movies-card__btn_type_save {
  width: 72px;
  height: 28px;
  color: var(--text-color-lighter);
  border-radius: 30px;
  background-color: var(--btn-color-medium);
  font-size: 10px;
}

.movies-card__btn_type_saved {
  width: 30px;
  height: 30px;
  opacity: 1;
  background-color: transparent;
  background-image: url('../../images/savedBtn.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.movies-card__btn_type_delete {
  width: 30px;
  height: 30px;
  background-color: transparent;
  background-image: url('../../images/deleteBtn.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.movies-card__img {
  display: block;
  width: 100%;
  height: 201px;
  border-radius: 6px;
  object-fit: cover;
}

.movies-card__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0;
  padding: 14px 14px 0;
}

.movies-card__descr {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  max-width: 265px;
  margin: 0;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;

  -webkit-line-clamp: 2;
}

.movies-card__time {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 18px;
  text-align: center;
  color: var(--bg-color-lighter);
  border-radius: 3px;
  background-color: var(--text-color-darker);
  font-size: 11px;
  font-weight: 400;
  font-style: normal;
  line-height: 10px;
}

@media screen and (max-width: 1175px) {
  .movies-card__link {
    height: 82%;
  }

  .movies-card__img {
    width: 339px;
    height: 190px;
  }

  .movies-card__container {
    padding: 25px 0 0;
  }
}

@media screen and (max-width: 750px) {
  .movies-card__link {
    height: 84%;
  }

  .movies-card__img {
    width: 300px;
    height: 168px;
  }

  .movies-card__container {
    padding: 15px 0 0;
  }

  .movies-card__descr {
    font-size: 12px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
