.login {
  box-sizing: border-box;
}
.login__input-label {
  color: var(--bg-color-lighter);
  font-size: 10px;
}
.login__input {
  height: 32px;
  margin-bottom: 1px;
  padding: 0;
  transition: border-bottom var(--animation-time) var(--animation-cubic);
  letter-spacing: 0.01em;
  color: var(--text-color-lighter);
  border: none;
  border-bottom: 1px solid var(--bg-color-light);
  outline: transparent;
  background-color: transparent;
  font-size: 14px;
}

.login__input::placeholder {
  color: var(--bg-color-lighter);
}

.login__input:last-of-type {
  margin-bottom: 8px;
}

.login__input:focus {
  letter-spacing: 0;
  border-bottom: 1px solid var(--btn-color-ocean);
  font-size: 14px;
  font-weight: 500;
}

.login__input_invalid {
  color: var(--btn-color-light);
  border-bottom: 1px solid var(--btn-color-light);
}

.login__input:invalid:focus {
  border-bottom: 1px solid var(--btn-color-light);
}

.login__input-error {
  width: 396px;
  height: 24px;
  color: var(--btn-color-light);
}

.login__input-error_active {
  overflow: hidden;
  max-width: -webkit-fill-available;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--btn-color-light);
  font-size: 10px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
}

@media screen and (max-width: 750px) {
  .login__input-error:last-of-type {
    margin-bottom: 80px;
  }

  .login__input-error {
    width: 260px;
  }
}
