.about-me {
  padding: 110px 0 101px;
  background-color: var(--bg-color-darkest);
}

.about-me__title {
  margin: 0;
  margin-bottom: 66px;
  padding: 0;
  padding-bottom: 23px;
  letter-spacing: -0.04em;
  border-bottom: 1px solid var(--text-color-lighter);
  font-size: 22px;
  font-weight: normal;
  line-height: 1.23;
}

.about-me__container {
  display: grid;
  grid-template: repeat(2, min-content) 1fr / 599px 270px 270px;
}

.about-me__subtitle {
  grid-area: 1 / span 1;
  margin: 0;
  padding: 0 0 19px;
  letter-spacing: -0.04em;
  font-size: 50px;
  font-weight: normal;
  line-height: 1.16;
}

.about-me__job {
  grid-area: 2 / span 1;
  margin: 0;
  padding-bottom: 26px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
}

.about-me__info {
  grid-area: 3 / span 1;
  margin: 0;
  font-size: 14px;
  line-height: 1.57;
}

.about-me__list {
  grid-area: 4 / span 1;
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-me__list-item {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.21;
}

.about-me__link {
  transition: var(--animate-opacity), var(--animate-transform);
  text-decoration: none;
  color: var(--text-color-lighter);
}

.about-me__link:hover {
  opacity: var(--opacity-link);
}

.about-me__link:active {
  display: block;
  transform: var(--translateY);
}

.about-me__img {
  grid-area: 1/3/5/4;
  max-width: 270px;
  height: 327px;
  transition: transform 2s var(--animation-cubic);
  border-radius: 10px;
  object-fit: cover;
}

.about-me__img:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 1175px) {
  .about-me {
    padding: 89px 0 91px;
  }

  .about-me__container {
    display: grid;
    grid-template: repeat(2, min-content) 1fr / 364px 49px 255px;
  }

  .about-me__subtitle {
    padding: 0 0 16px;
    font-size: 40px;
    line-height: 1;
  }

  .about-me__job {
    padding-bottom: 20px;
    font-size: 12px;
    line-height: 1.5;
  }

  .about-me__info {
    font-size: 12px;
    line-height: 1.5;
  }

  .about-me__img {
    max-width: 255px;
    height: 307px;
  }
}

@media screen and (max-width: 750px) {
  .about-me {
    padding: 72px 0 70px;
  }

  .about-me__title {
    margin-bottom: 60px;
    padding-bottom: 27px;
    letter-spacing: -0.72px;
    font-size: 18px;
  }

  .about-me__container {
    grid-template: repeat(3, min-content) 1fr / 1fr;
  }

  .about-me__subtitle {
    grid-area: 2/1;
    padding: 0 0 23px;
    font-size: 30px;
  }

  .about-me__job {
    grid-area: 3/1;
    padding-bottom: 21px;
    font-size: 11px;
    line-height: 1.45;
  }

  .about-me__info {
    grid-area: 4/1;
    padding-bottom: 24px;
    font-size: 11px;
    line-height: 1.45;
  }

  .about-me__list {
    grid-area: 5/1;
    font-size: 14px;
    font-weight: 500;
  }

  .about-me__img {
    grid-area: 1/1;
    max-width: 292px;
    height: 352px;
    margin-bottom: 43px;
  }
}
